.rc-dialog-mask {
	background: rgba(0, 0, 0, 0.4);
}

.rc-dialog-wrap {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

.rc-dialog {
	width: calc(100% - 32px);
}

.rc-dialog-content {
	/*background: #ffffff;*/
	box-shadow: 0px 8px 56px rgba(54, 56, 112, 0.16);
	border-radius: 4px;
	overflow: hidden;
	min-height: 230px;
	padding: 0;
}

.rc-dialog-header {
	border-bottom: 1px solid #f1f2fe;
	padding: 16px;
	max-height: 56px;
}

.rc-dialog-body {
	padding: 16px 16px 0 16px;
}

.rc-dialog-title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: red;
	/*color: #363870;*/
}

.rc-dialog-close {
	opacity: 1;
}
