
.rc-dialog-mask {
    background: rgba(5, 5, 5, 0.50);
    backdrop-filter: blur(5px);
}

.rc-dialog-wrap {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.rc-dialog {
    margin: 0;
    width: 100%;
    max-width: 390px;
    background: #141414;
    border-radius: 10px;
    /*width: calc(100% - 32px);*/
}

.rc-dialog-content {
    border-radius: 10px;
    background: #141414;
    /*min-height: 286px;*/
    /*padding: 0;*/
}


.rc-dialog-body {
    padding: 0;
    box-sizing: border-box;
}

.rc-dialog-header {
    padding: 20px 12px;
    background: #141414;
    color: #FFFFFF;
    border: none;
}

.rc-dialog-close {
    opacity: 1;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    display: none;
}

@media (min-width: 400px) {
    .rc-dialog-close {
        right: 0;
    }
}
