body {
  background: #050505;
  color: #fffffd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
}

body.noscroll {
  overflow-y: hidden;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url(assets/fonts/JetBrainsMono-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url(assets/fonts/JetBrainsMono-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    local("Space Grotesk"),
    url(assets/fonts/SpaceGrotesk-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    local("Space Grotesk"),
    url(assets/fonts/SpaceGrotesk-Regular.ttf) format("truetype");
  font-weight: 400;
}

:root {
  --toastify-color-light: #fffffd;
  --toastify-color-dark: #050505;
  --toastify-color-info: #3498db;
  --toastify-color-success: #00ff98;
  --toastify-color-warning: #ff6f06;
  --toastify-color-error: #fd0a53;
  --toastify-font-family: JetBrains Mono, sans-serif;
}

.react-loading-skeleton {
  --base-color: #1b1b1b;
  --highlight-color: #4b4b4b;
}
