body {
    color: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url(assets/fonts/JetBrainsMono-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk'), url(assets/fonts/SpaceGrotesk-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk'), url(assets/fonts/SpaceGrotesk-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Syne';
    src: local('Syne'), url(assets/fonts/Syne-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Syne';
    src: local('Syne'), url(assets/fonts/Syne-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
